{
    email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode zstd gzip
    reverse_proxy web:80
}

{$MYSQL_TLS_DOMAIN:db.cargo.washeng.online} {
    # MySQL 8 on the production image requires an RSA certificate/key pair.
    tls {
        key_type rsa2048
    }
    respond "MySQL endpoint" 404
}
